aiohttp==3.8.3
asyncio-pool==0.6.0
beautifulsoup4==4.12.2
dacite==1.6.0
dataclasses-json==0.5.7
dvc==2.51.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
GitPython==3.1.31
google-api-python-client==2.82.0
html5lib==1.1
icrawler==0.6.6
lxml==4.9.2
nltk==3.8
numpy==1.24.2
openai==0.26.4
opencv-python==4.7.0.72
pandas==1.4.4
pytz==2023.3
requests==2.26.0
selenium==4.8.2
shazamio==0.3.1.1
spacy==3.5.0
spacy-langdetect==0.1.2
spotipy==2.19.0
tqdm==4.65.0
wikipedia-api==0.5.8